# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
BahamutAnimeDL-GUI
# Test binary, built with `go test -c`
*.test
.idea
.idea/
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
assets.go
saveData.sqlite
# Depend            ency directories (remove the comment below to include it)
# vendor/
